<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img src="/img/robot.png" alt="my picture" class="portrait">
            <p>{{aboutText}}</p>
        </div>
        {{>footer}}
    </body>
</html>